.NavBar {
    background-color: aliceblue;
    border: 1px solid #dadada;
    position: fixed;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: darkgray;
}

.fixed-top {
    position: relative;
}

.Navbar {
    position: relative;
}